body {
    background: #413543;
    color: blueviolet;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera {
    background-color: #245953;
    color:white;
    box-shadow: 10px 10 px 50px 0px rgba(0, 0, 0, 0.75);
    padding: 0.5em 0 0.5em 3em;
    font-weight: bold;
}

#cabecera #logo {
    width: 30px;
    vertical-align: middle;
}

#cabecera #tagline {
    font-weight: normal;
    font-size: 0.8em;
}

#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 30px solid #408E91;
    margin: 0 auto;
}

#containerh1 {
    font-size: 20px;
}

#footer {
    background: #2D2727;
    color: white;
    text-align: center;
    padding: 0.5em;
}